## 第二章 pandas基础
### Ex1：口袋妖怪数据集
1.对`HP, Attack, Defense, Sp. Atk, Sp. Def, Speed`进行加总，验证是否为`Total`值。

In [36]:
import numpy as np
import pandas as pd
df = pd.read_csv('./data/pokemon.csv') #.set_index(['#'])
df.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65

In [37]:
sum(df[df.columns[5:]].sum(1)!=df.Total)

0

2. 对于`#`重复的妖怪只保留第一条记录，解决以下问题：
* 求第一属性的种类数量和前三多数量对应的种类
* 求第一属性和第二属性的组合种类
* 求尚未出现过的属性组合

In [48]:
df=df.drop_duplicates(['#'], keep='first')

print(df['Type 1'].nunique())
print(df['Type 1'].value_counts().index[:3])

df.drop_duplicates(['Type 1','Type 2'], keep='first')

L_full = [i+' '+j for i in df['Type 1'].unique() for j in (df['Type 1'].unique().tolist() + [''])]
L_part = [i+' '+j for i, j in zip(df['Type 1'], df['Type 2'].replace(np.nan, ''))]
res = set(L_full).difference(set(L_part))
len(res)

18
Index(['Water', 'Normal', 'Grass'], dtype='object')

199

3. 按照下述要求，构造`Series`：

* 取出物攻，超过120的替换为`high`，不足50的替换为`low`，否则设为`mid`
* 取出第一属性，分别用`replace`和`apply`替换所有字母为大写
* 求每个妖怪六项能力的离差，即所有能力中偏离中位数最大的值，添加到`df`并从大到小排序

In [49]:
df['Attack'].mask(df['Attack']<=50,'low').mask(df['Attack']>120,'high').mask((50<=df['Attack'])&(df['Attack']<=120),'mid')

0       low
1       mid
2       mid
4       mid
5       mid
       ...
793    high
794     mid
795     mid
797     mid
799     mid
Name: Attack, Length: 721, dtype: object

In [50]:
df['Type 1'].replace({i:str.upper(i) for i in df['Type 1'].unique()})
df['Type 1'].apply(lambda x:str.upper(x)).head()

0    GRASS
1    GRASS
2    GRASS
4     FIRE
5     FIRE
Name: Type 1, dtype: object

In [51]:
df['Deviation']=df[df.columns[5:11]].apply(lambda x:np.max((x-x.median()).abs()), 1)
df.sort_values('Deviation', ascending=False).head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Deviation
230,213,Shuckle,Bug,Rock,505,20,10,230,10,230,5,215.0
121,113,Chansey,Normal,NaN,450,250,5,5,35,105,50,207.5
261,242,Blissey,Normal,NaN,540,255,10,10,75,135,55,190.0
217,202,Wobbuffet,Psychic,NaN,405,190,33,58,33,58,33,144.5
223,208,Steelix,Steel,Ground,510,75,85,200,55,65,30,130.0

### Ex2：指数加权窗口
1.

2.